# Table of Contents
1. Import libraries
2. Import data: orders.csv, products.csv, departments.csv
3. Data cleaning on orders.csv: dropping & renaming columns, missing values, data types
4. Transpose departments.csv from wide to long format
5. Create a dictionary for departments
6. Change datatype of user_id in orders.csv to string
7. Looking at order frequency across each hour of day
8. Practice with looking up dictionary keys/values, subsetting data, calculating basic statistics via .describe()
9. Export cleaned orders: orders_wrangled.csv
10. Export transposed department: departments_wrangled.csv

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Import Data

In [2]:
# Define path
path = r'/Users/stephenhelvig/Documents/Python Projects/Instacart Basket Analysis'

In [3]:
# Import orders.csv
df_orders = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders.csv'), index_col = False)

In [4]:
# Import products.csv
df_products = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'products.csv'), index_col = False)

In [5]:
# Import departments.csv
df_dept = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'departments.csv'), index_col = False)

# Orders.csv data wrangling

In [6]:
df_orders.shape

(3421083, 7)

In [7]:
df_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [8]:
# drop 'eval_set' from orders.csv
df_orders = df_orders.drop(columns = ['eval_set'])

In [9]:
# look for missing values in 'days_since_prior_order' column
df_orders['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [10]:
# rename 'order_dow' column -> 'order_day_of_week'
df_orders.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [11]:
df_orders.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [12]:
# change data type of 'order_id' to string
df_orders['order_id'] = df_orders['order_id'].astype('str')

In [13]:
df_orders['order_id'].dtype

dtype('O')

# Departments.csv data wrangling

In [14]:
df_dept.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [15]:
# Transpose df_dept
df_dept = df_dept.T

In [16]:
df_dept

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [17]:
# reset index
df_dept.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [18]:
# Copy the first row of df_dept and store it in variable 'new_header' 
new_header = df_dept.iloc[0]

In [19]:
new_header

0    department
Name: department_id, dtype: object

In [20]:
# Take all rows under the header for new df
df_dept_new = df_dept[1:]

In [21]:
# Assign 'new_header' variable as df_dept_new header
df_dept_new.columns = new_header

In [22]:
df_dept_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

# Department Dictionary

In [23]:
# Create a data dictionary for departments
data_dict = df_dept_new.to_dict('index')

In [24]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [25]:
print(data_dict.get('19'))

{'department': 'snacks'}

# Assigned Tasks - Data Wrangling and Exploration

In [28]:
# Change 'user_id' datatype to string
df_orders['user_id'] = df_orders['user_id'].astype('str')

In [29]:
df_orders['user_id'].dtype

dtype('O')

In [31]:
# Find frequency of 'order_hour_of_day (count how many orders each hour)
df_orders['order_hour_of_day'].value_counts()

order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

In [32]:
# Count how many orders per hour
hourly_counts = df_orders['order_hour_of_day'].value_counts().sort_index()

# Find the busiest hour
busiest_hour = hourly_counts.idxmax()
busiest_count = hourly_counts.max()

print("Busiest hour:", busiest_hour)
print("Number of orders:", busiest_count)

Busiest hour: 10
Number of orders: 288418

In [33]:
# Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.
print(data_dict.get('4'))

{'department': 'produce'}

# Subsetting Practice: Using .isin()

In [34]:
# The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.
df_breakfast = df_products.loc[df_products['department_id'].isin([14])]

In [35]:
df_breakfast

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
...,...,...,...,...,...
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

In [36]:
# They’d also like to see details about products that customers might use to throw dinner parties. Your task is to find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.
df_dinnerparties = df_products.loc[df_products['department_id'].isin([5,7,12,20])]

In [37]:
df_dinnerparties

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
...,...,...,...,...,...
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

In [39]:
# Extract all the information you can about "user_id" of “1.”
user1_orders = df_orders[df_orders['user_id'] == '1']
# Look at the result
print(user1_orders.head(20))   # first 20 rows
print(user1_orders.shape)    # number of rows, columns

   order_id user_id  order_number  order_day_of_week  order_hour_of_day  \
0   2539329       1             1                  2                  8
1   2398795       1             2                  3                  7
2    473747       1             3                  3                 12
3   2254736       1             4                  4                  7
4    431534       1             5                  4                 15
5   3367565       1             6                  2                  7
6    550135       1             7                  1                  9
7   3108588       1             8                  1                 14
8   2295261       1             9                  1                 16
9   2550362       1            10                  4                  8
10  1187899       1            11                  4                  8

    days_since_prior_order
0                      NaN
1                     15.0
2                     21.0
3                     29.0
4                     28.0
5                     19.0
6                     20.0
7                     14.0
8                      0.0
9                     30.0
10                    14.0
(11, 6)

In [40]:
# Calculate basic statistics for user1_orders
user1_orders.describe()

,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.000000
mean,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.286291,3.477198,9.030811
min,1.000000,1.000000,7.000000,0.000000
25%,3.500000,1.500000,7.500000,14.250000
50%,6.000000,3.000000,8.000000,19.500000
75%,8.500000,4.000000,13.000000,26.250000
max,11.000000,4.000000,16.000000,30.000000

In [41]:
# Export Dataframe
df_orders.to_csv(os.path.join(path, 'Data','Prepared Data','orders_wrangled.csv'))

In [42]:
df_dept_new.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'departments_wrangled.csv'))