# Table of Contents
1. Import libraries
2. Import data: ords_prods_merge_extrarows.pkl
3. Create new 'max_order' value using .transform(max) aggregation
4. Create a new 'loyalty_flag' value based on 'max_order' value using loc()
5. Export data: ords_prods_merge2_extrarows.pkl

# Import Libraries

In [5]:
import pandas as pd
import numpy as np
import os

# Import Data

In [6]:
# define path

path = r'/users/stephenhelvig/documents/python projects/instacart basket analysis'

In [7]:
# import ords_prods_merge

ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merge_extrarows.pkl'))

# Create new 'max_order' value using .transform(max) aggregation

In [8]:
# Aggregating data with transform()

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform('max')

In [9]:
ords_prods_merge.head(20)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,10
1,2539329,1,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,10
2,2539329,1,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23,19,4.4,10
3,2539329,1,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,10
4,2539329,1,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,10
5,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,10
6,2398795,1,2,3,7,15.0,False,10258,2,0,Pistachios,117,19,3.0,10
7,2398795,1,2,3,7,15.0,False,12427,3,1,Original Beef Jerky,23,19,4.4,10
8,2398795,1,2,3,7,15.0,False,13176,4,0,Bag of Organic Bananas,24,4,10.3,10
9,2398795,1,2,3,7,15.0,False,26088,5,1,Aged White Cheddar Popcorn,23,19,4.7,10
10,2398795,1,2,3,7,15.0,False,13032,6,0,Cinnamon Toast Crunch,121,14,4.0,10
11,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,10
12,473747,1,3,3,12,21.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,10
13,473747,1,3,3,12,21.0,False,10258,3,1,Pistachios,117,19,3.0,10
14,473747,1,3,3,12,21.0,False,25133,4,0,Organic String Cheese,21,16,8.6,10
15,473747,1,3,3,12,21.0,False,30450,5,0,Creamy Almond Butter,88,13,3.2,10
16,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,10
17,2254736,1,4,4,7,29.0,False,12427,2,1,Original Beef Jerky,23,19,4.4,10
18,2254736,1,4,4,7,29.0,False,10258,3,1,Pistachios,117,19,3.0,10
19,2254736,1,4,4,7,29.0,False,25133,4,1,Organic String Cheese,21,16,8.6,10

In [13]:
pd.options.display.max_rows = None

# Create a new 'loyalty_flag' based on 'max_order' value using loc()

In [10]:
# assigning a loyalty flag based on the max_order value

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891172
Loyal customer      10293959
New customer         6249358
Name: count, dtype: int64

In [14]:
# checking the results
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(80)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             1
2         1      New customer             1
3         1      New customer             1
4         1      New customer             1
..      ...               ...           ...
75        2  Regular customer             2
76        2  Regular customer             2
77        2  Regular customer             2
78        2  Regular customer             3
79        2  Regular customer             3

[80 rows x 3 columns]

# Export Data

In [15]:
ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merge2_extrarows.pkl'))